a {
  text-decoration: none;
}

.course-box .course-box-detail {
  display: flex;
  align-items: center;
  max-height: 65px;
}

.course-box-detail .course-image img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.course-box-detail .course-image {
  /* width: 75px; */
  border: 2px solid var(--primary-white);
}

.course-box-detail .course-list {
  background: var(--primary-white);
  border: 1px solid var(--primary-white);
  border-left: 0;
  width: calc(100% - 74px);
}

.course-box-detail .course-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  max-height: 66px;
}

.course-box-detail .course-list ul li {
  padding: 2px;
  border-bottom: 1px solid var(--primary-grey);
  border-right: 1px solid var(--primary-grey);
  display: flex;
  align-items: center;
  font-size: 9px;
  font-family: "Lato", sans-serif;
  max-height: 22px;
  height: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1;
}

.course-box-detail .course-list ul li img {
  margin-right: 6px;
  padding-left: 4px;
  width: 10px;
}

.course-bottom {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 0;
}

.course-bottom .course-dis {
  color: var(--primary-white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.course-bottom .course-dis span {
  font-size: 0.75rem;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1;
  max-width: 75%;
}

.course-bottom .course-dis img {
  margin-right: 5px;
  width: 15px;
  height: 20px;
  max-width: 25%;
}

.course-section .course-box {
  margin-bottom: 16px;
}

.course-section {
  /* padding: 0 10px; */
  padding: 10px;
  padding-bottom: 40px;
  margin-bottom: 10px;
  height: calc(100dvh - 385px);
  overflow: hidden;
  overflow-y: auto;
}

.course-section-popup {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  overflow-y: auto;
}

.course-section::-webkit-scrollbar {
  width: 5px;
}

.course-section::-webkit-scrollbar-track {
  background: var(--primary-blue);
}

.course-section::-webkit-scrollbar-thumb {
  background: var(--primary-red);
}

.course-section::-webkit-scrollbar-thumb:hover {
  background: var(--primary-red);
}

.newsletterButton {
  background-color: var(--primary-red);
  width: 90%;
  padding: 12px 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  max-width: 610px;
  margin: auto;
}

.newsletterButton:hover {
  background-color: var(--secondary-blue);
  color: var(--primary-white);
}

.where .line-break {
  display: block; /* Makes the span behave like a line break */
  margin: 0; /* Removes any default margin */
}

.where .smaller-text {
  display: block; /* Ensures this text appears on a new line */
  margin-top: -5px; /* Adjusts the space above this line, set as needed */
}

.select-box {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .form-control {
    width: 90% !important;
  }

  .select-box {
    max-width: 260px;
    margin: 0 auto;
  }
}

@media (max-width: 1400px) {
  .select-box {
    max-width: 70%;
    margin: 0 auto;
  }
}

.form-control::placeholder {
  color: var(--primary-blue);
  text-align: left;
}

.form-control {
  border: 2px solid var(--secondary-blue) !important;
  width: 90% !important;
  max-width: 500px !important;
  border-radius: 0 !important;
  height: 50px !important;
  margin: 0 auto !important;
  display: block !important;
  color: var(--primary-blue);
}

.main-section {
  background-color: var(--primary-blue);
  height: 100%;
  width: 100%;
}

img.weblogo {
  width: 12%;
  padding: 20px 0 0;
}

.main-section .overtext {
  color: var(--secondary-blue);
  font-weight: 500 !important;
}

.chat-box h4 {
  font-size: 0.75rem;
}

.chat-box img {
  width: 0.75rem;
  transform: translate(5px, -1px);
}

.btn {
  width: 100%;
  text-align: center;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  border: none;
  border-radius: 0px;
  font-size: 1.5em;
  cursor: pointer;
}

.btn:hover {
  width: 100%;
  text-align: center;
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: none;
  border-radius: 0px;
  font-size: 1.5em;
  cursor: pointer;
}

.secondary-btn {
  width: 50%;
  text-align: center;
  background-color: var(--secondary-blue);
  color: var(--primary-white);
  border: none;
  border-radius: 0px;
  padding: 12px 8px;
  font-size: 1.5em;
  cursor: pointer;
}

.secondary-btn:hover {
  background-color: var(--primary-white);
  color: var(--secondary-blue);
}

.warning-btn-full {
  width: 100%;
  text-align: center;
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: none;
  border-radius: 0px;
  padding: 12px 8px;
  font-size: 1.5em;
  cursor: pointer;
}

.warning-btn-full:hover {
  background-color: var(--primary-white);
  color: var(--primary-red);
}

.warning-btn {
  width: 50%;
  text-align: center;
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: none;
  border-radius: 0px;
  padding: 12px 8px;
  font-size: 1.5em;
  cursor: pointer;
}

.warning-btn:hover {
  background-color: var(--primary-white);
  color: var(--secondary-blue);
  border: none;
  border-radius: 0px;
  font-size: 1.5em;
  cursor: pointer;
}

/* Popup styles */
.popup {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100dvw; /* Full width */
  height: 100dvh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.popup h2 {
  color: var(--primary-white);
  font-size: 1.8rem;
}

.popup p {
  color: var(--primary-white);
  font-size: 1rem;
}

.popup .redText {
  color: var(--primary-white);
  text-decoration: underline;
  text-decoration-color: var(--primary-red);
  text-underline-offset: 2px;
  font-weight: 500;
  /* -webkit-text-stroke: .5px var(--primary-red); */
  letter-spacing: normal;
}

/* Popup Content */
.popup-content {
  max-width: 1080px;
  background-color: var(--primary-blue);
  position: relative;
  margin: auto;
  padding: 20px;
  border: 1px solid var(--primary-blue);
  width: 90%;
  border-radius: 0px;
  border: 3px solid var(--secondary-blue);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* The Close Button */
.close {
  color: var(--secondary-blue);
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--primary-black);
  text-decoration: none;
  cursor: pointer;
}

h4.confirmd {
  color: #55de1f;
}

.main-section .missingtext {
  color: var(--primary-red);
}

.main-section .missingtext-blue {
  color: var(--secondary-blue);
}

.smaller-text {
  font-size: 0.7rem;
  margin: 0px;
  padding: 0px;
  color: var(--primary-white);
}

.rescue h3 {
  font-size: 3rem;
}

.rescue h3 span {
  font-weight: 100 !important;
  font-family: "Bebas Neue";
}

.stepbutton {
  background-color: var(--primary-red);
  width: 80%;
  /* max-width: 200px; */
  padding: 8px 4px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.failurebutton {
  background-color: var(--primary-red);
  width: 80%;
  max-width: 400px;
  padding: 8px 4px;
  border: none;
  min-height: 50px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.main-section button.stepbutton {
  background-color: var(--primary-red);
  width: 60%;
  max-width: 250px;
  padding: 8px 4px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.main-section button.failurebutton {
  background-color: var(--primary-red);
  width: 80%;
  max-width: 400px;
  padding: 8px 4px;
  border: none;
  min-height: 50px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.failurebutton:hover {
  cursor: pointer;
  background-color: var(--primary-blue) !important;
  border: 2px solid var(--primary-white) !important;
}

.stepbutton:hover {
  cursor: pointer;
  background-color: var(--primary-blue) !important;
  border: 2px solid var(--primary-white) !important;
}

button.rememberbtn {
  width: 50%;
  max-width: 200px;
  padding: 4px;
  border: 2px solid var(--primary-white);
  background-color: var(--primary-blue);
  color: var(--primary-white);
  font-size: 14px;
  letter-spacing: 0.08em;
}

.verify-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  max-width: 600px;
  color: var(--primary-white);
  font-size: 1.35rem;
}

/* button:hover {
  cursor: pointer;
  border: 2px solid var(--primary-white);
  background-color: var(--primary-red);
  color: var(--primary-white);
} */

.rememberbtn:hover {
  cursor: pointer;
  border: 2px solid var(--primary-red);
  background-color: var(--primary-red);
  color: var(--primary-white);
}

.container {
  max-width: 1080px;
  position: relative;
}

.wizardbox {
  padding: 25px 0;
  left: 460px;
  left: 47%;
  right: 0;
  position: absolute;
  bottom: 40px;
  min-width: 400px;
}

.wizardbox img {
  width: 80px;
  max-width: 60px !important;
  padding-top: 15px;
}

.wizardbox p {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-white);
  max-width: 550px;
  text-align: left;
  transform: translate(3px, -11px);
}

.btnaction img.btnlogo {
  width: 35px;
}

button.btnaction {
  background-color: var(--primary-red);
  border: 5px solid var(--primary-blue);
  border-radius: 100%;
  padding: 10px;
  position: absolute;
  top: -46px;
  left: 0;
  right: 0;
  max-width: 64px;
  margin: 0 auto;
}

span.img {
  min-height: 29px;
}

.main-section h3.where {
  font-size: 2rem;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.select-box select {
  border-radius: 0;
  padding: 10px 6px;
  font-size: 16px;
  border: 2px solid var(--secondary-blue);
  background-image: none;
  position: relative;
  color: var(--primary-blue);
  height: 50px !important;
}

.select-box .arrow {
  position: relative;
}

.select-box .arrow:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: var(--secondary-blue) transparent transparent transparent;
  position: absolute;
  right: 21px;
  top: 40%;
  pointer-events: none;
}

.select-box .arrow.one:after {
  content: "";
  right: 10px;
}

.footer-content {
  justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 570px;
  }
}

@media only screen and (max-width: 640px) {
  img.weblogo {
    width: 30%;
    max-width: 100px;
  }

  .rescue h3 {
    font-size: 2.4rem;
  }

  .footer-content {
    justify-content: space-around;
  }

  .footer-content .col-2:nth-child(2) {
    margin-right: 140px;
  }

  .wizardbox {
    bottom: 40px;
    min-width: 300px;
  }

  .wizardbox p {
    font-size: 16px;
  }

  .wizardbox img {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: 400px;
  }

  .footer-content .col-2:nth-child(2) {
    margin-right: 75px;
  }

  .footer-content span {
    font-size: 13px;
  }

  .footer-content .col-2 {
    padding: 0;
  }

  .wizardbox img {
    width: 42px;
    padding-top: 35px;
  }

  .wizardbox p {
    padding-right: 24px;
    padding-bottom: 2px;
    font-size: 14px;
  }

  .wizardbox {
    left: 30px;
    bottom: 40px;
    min-width: 300px;
  }

  .wizardbox {
    min-width: 260px;
  }

  .btnaction img.btnlogo {
    width: 24px;
  }

  button.btnaction {
    padding: 11px;
    top: -29px;
    max-width: 57px;
  }
}

.input-dropdown-wrapper input:focus {
  margin-right: 2px !important;
}

.input-dropdown-wrapper input:active {
  margin-right: 2px !important;
}

.input-dropdown-wrapper select:focus {
  margin: 0px;
}
