:root {
  --primary-blue: #005daa;
  --secondary-blue: #228de5;
  --primary-black: #000000;
  --primary-red: #d31245;
  --primary-white: #FFFFFF;
  --primary-grey: #e3e3e3;
  --primary-green: #55de1f;
  font-family: 'Bebas Neue', sans-serif;
}

body {
  font-family: "Bebas Neue", sans-serif;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeue-Thin.eot');
  src: url('fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeue-Thin.woff2') format('woff2'),
    url('fonts/BebasNeue-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeueLight.eot');
  src: url('fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeueLight.woff2') format('woff2'),
    url('fonts/BebasNeueLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeueRegular.eot');
  src: url('fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeueRegular.woff2') format('woff2'),
    url('fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.main-section {
  background-color: var(--primary-blue);
  height: 100vh;
}

img.weblogo {
  width: 12%;
  padding: 20px 0 0;
}

.main-section .overtext {
  color: var(--secondary-blue);
  font-weight: 500 !important;
}

.chat-box h4 {
  font-size: .75rem;
}

.chat-box img {
  width: .75rem;
  transform: translate(5px, -1px);
}

h4.confirmd {
  color: #55de1f;
}

.main-section .missingtext {
  color: var(--primary-red);
}

.rescue h3 {
  font-size: 3.2rem;
}

.rescue h3 span {
  font-weight: 100 !important;
  font-family: 'Bebas Neue';
}

.main-section button.stepbutton {
  background-color: var(--primary-red);
  width: 50%;
  max-width: 250px;
  padding: 4px 0;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

button.rememberbtn {
  width: 40%;
  max-width: 150px;
  padding: 4px 0;
  border: 2px solid var(--primary-white);
  background-color: var(--primary-blue);
  color: var(--primary-white);
  font-size: 16px;
}

.container {
  max-width: 1080px;
}

.select-box {
  max-width: 260px;
  margin: 0 auto;
}

.wizardbox {
  padding: 25px 0;
  left: 460px;
  left: 47%;
  right: 0;
  position: absolute;
  bottom: 56px;
  min-width: 300px;
}

.wizardbox img {
  width: 80px;
  max-width: 60px !important;
}

.wizardbox p {
  font-size: 10px;
  font-weight: 500;
  color: var(--primary-white);
  max-width: 550px;
  text-align: left;
  transform: translate(3px, -11px);
}

footer {
  background-color: var(--secondary-blue);
  position: relative;
}

.btnaction img.btnlogo {
  width: 35px;
}

.footer-content .col-2 {
  position: relative;
}

button.btnaction {
  background-color: var(--primary-red);
  border: 5px solid var(--primary-blue);
  border-radius: 100%;
  padding: 10px;
  position: absolute;
  top: -46px;
  left: 0;
  right: 0;
  max-width: 64px;
  margin: 0 auto;
}

span.img {
  min-height: 29px;
}

.footer-content span {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-white);
}

.footer-content img {
  max-width: 21px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 13px 0 9px;
}

.main-section h3.where {
  margin-top: 200px;
  font-size: 2rem;
  letter-spacing: .03em;
  font-weight: 500;
}

.select-box select {
  border-radius: 0;
  padding: 12px 6px;
  font-size: 16px;
  border: 2px solid var(--secondary-blue);;
  background-image: none;
  position: relative;
  color: var(--primary-blue);
}

.select-box .arrow {
  position: relative;
}

.select-box .arrow:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: var(--secondary-blue) transparent transparent transparent;
  position: absolute;
  right: 21px;
  top: 40%;
  pointer-events: none;
}

.select-box .arrow.one:after {
  content: "";
  right: 10px;
}

.footer-content {
  justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 570px;
  }

}

@media only screen and (max-width: 640px) {
  img.weblogo {
    width: 35%;
  }

  .rescue h3 {
    font-size: 3.2rem;
  }

  .footer-content {
    justify-content: space-around;
  }

  .footer-content .col-2:nth-child(2) {
    margin-right: 140px;
  }

  .wizardbox {
    bottom: 47px;
  }
}

@media only screen and (max-width: 1024px) {
  img.weblogo {
    width: 25%;
  }

  .rescue h3 {
    font-size: 3.2rem;
  }

  .footer-content {
    justify-content: space-around;
  }

  .footer-content .col-2:nth-child(2) {
    margin-right: 140px;
  }

  .wizardbox {
    bottom: 47px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: 400px;
  }

  .footer-content .col-2:nth-child(2) {
    margin-right: 32px;
  }

  .footer-content span {
    font-size: 13px;
  }

  .footer-content .col-2 {
    padding: 0;
  }

  .wizardbox img {
    width: 42px;
  }

  .wizardbox p {
    padding-right: 24px;
  }

  .wizardbox {
    left: 30px;
    bottom: 37px;
  }

  .wizardbox {
    min-width: 230px;
  }

  .btnaction img.btnlogo {
    width: 24px;
  }

  .select-box {
    max-width: 280px;
    margin: 0 auto;
  }

  button.btnaction {
    padding: 11px;
    top: -29px;
    max-width: 57px;
  }
}